*{
  padding: 0%;
  margin: 0%;
}

  /* <<Why part css>> */

  .why-area {
    position: relative;
    background-color:#1d195e;
    /* background: #120a39; */
    padding: 160px 0 100px;
  }
  
  .why-area .why-bg {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
  }
  
  .why-area .why-left-content .title {
    font-size: 48px;
    line-height: 50px;
    font-weight: 900;
  }
  
  .why-area .why-left-content .text {
    color: #46d6fa;
    font-size: 24px;
    line-height: 36px;
    margin: 30px 0 0;
  }
  
  .why-area .why-left-content .text-2 {
    font-size: 18px;
    line-height: 30px;
    margin: 30px 0 0;
  }
  .service-1 .icon i {
    font-size: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff13b0), to(#7a17f9));
    background: linear-gradient(180deg, #ff13b0 0%, #7a17f9 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .service-1 .icon img {
    max-height: 30px;
  }

  .home2 .why-area .why-left-content .title {
    color: #28384c;
  }
  
  .home2 .why-area .why-left-content .text {
    color: #3c4dc1;
  }
  
  .home2 .why-area .why-left-content .text-2 {
    color: #28384c;
  }

  /* <<Why part Css end>> */


  
.section-title {
    text-align: center;
    margin: 0 0 80px;
  }
  
  .section-title .title {
    font-size: 72px;
    line-height: 72px;
    font-weight: 900;
  }
  
  .section-title .text {
    color: #46d6fa;
    font-size: 23px;
    line-height: 35px;
    margin: 32px 0 0;
  }

  /* <<token part css>> */

  .token-area {
    
    background-color:#1d195e;
    overflow-x: hidden;
    position: relative;
    padding: 68px 0 90px;
  }
  
  .token-area .section-title {
    position: relative;
    z-index: 1;
    margin: 0 0 144px;
  }
  
  .token-area .token-info-all {
    overflow: hidden;
  }
  
  .token-area .token-info-all .single {
    background: #251b53;
    min-height: 165px;
    max-height: 165px;
    min-width: 165px;
    max-width: 165px;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-radius: 3px;
    padding: 30px 5px 10px;
    margin: 0 0 30px;
  }
  
  .token-area .token-info-all .single .title {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
  }
  
  .token-area .token-info-all .single .text {
    color: #c7bef3;
    font-size: 16px;
    line-height: 30px;
    margin: 10px 0 0;
  }
  
  .token-area .token-info-all .single:nth-child(odd) {
    float: right;
  }
  
  .token-area .token-info-all.style-2 .single:nth-child(even) {
    float: right;
  }
  
  .token-area .token-info-all.style-2 .single:nth-child(odd) {
    float: none;
  }
  
  .token-area .token-banner-main {
    text-align: center;
    position: relative;
  }
  
  .token-area .token-banner-main img {
    margin: auto;
    position: relative;
    z-index: 2;
  }
  
  .token-area .token-banner-main .tb-bg {
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    z-index: 0;
    -webkit-transform: scale(1.65);
            transform: scale(1.65);
  }
  
  .token-area .token-banner-main .tb-bg img {
    width: 100%;
  }
  
  .token-area .token-banner-main .link {
    position: relative;
    z-index: 2;
    margin: 34px 0 0;
  }
  
  
 
  
.home2 .token-area {
    background: transparent;
    padding: 68px 0 188px;
  }
  
  .home2 .token-area .token-bg-h2 {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
  
  .home2 .token-area .token-bg-h2 img {
    position: absolute;
    bottom: 0;
  }
  
  .home2 .token-area .token-info-all .single {
    background: -webkit-gradient(linear, left top, right top, from(#3e43e2), to(#3c8bf7));
    background: linear-gradient(90deg, #3e43e2 0%, #3c8bf7 100%);
  }
  
  .home2 .token-area .token-info-all .single .title {
    color: #ffffff;
  }
  
  .home2 .token-area .token-info-all .single .text {
    color: #c7bef3;
    font-size: 16px;
    line-height: 30px;
    margin: 10px 0 0;
  }
 

  /* <<token part css end>> */

  /* <<header part>> */
  .hero-area {
    position: relative;
    padding: 240px 0 244px;
  }
  
  .hero-area .hero-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    min-height: 916px;
    z-index: -1;
  }
  
  .hero-area .hero-bg img {
    width: 100%;
    height: 100%;
  }
  
  .hero-area .hero-banner {
    position: absolute;
    text-align: right;
    right: 0;
    top: 134px;
  }
  
  .hero-area .hero-content .title {
    font-size: 60px;
    line-height: 72px;
  }
  
  .hero-area .hero-content .text {
    color: #46d6fa;
    font-size: 24px;
    line-height: 32px;
    margin: 30px 0 0;
  }
  
  .hero-area .hero-content .btns {
    margin: 30px 0 0;
  }
  
  .hero-area .hero-content .btns .link {
    margin-right: 16px;
  }

  .item-bounce {
    -webkit-animation: bounce 3s infinite ease-in-out;
    animation: bounce 3s infinite ease-in-out;
  }
  
  @-webkit-keyframes bounce {
    0% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
    50% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
    }
    100% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
  }
  
  @keyframes bounce {
    0% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
    50% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
    }
    100% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
  }
  
  .item-round {
    -webkit-animation: round 3s infinite linear;
    animation: round 3s infinite linear;
  }
  
  @-webkit-keyframes round {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes round {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  .item-zoom-inout {
    -webkit-animation: zoom-inout 3s infinite ease-in-out;
    animation: zoom-inout 3s infinite ease-in-out;
  }
  
  @-webkit-keyframes zoom-inout {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes zoom-inout {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  /* <header part end>> */
  

  #dayseditt{
    margin: 1%;
    margin-left: 4%;
    background-color:#5c4be0;
    border: 2px solid black;
    transform: skew(20deg);
    text-align: center !important;
    justify-content: center !important;
  }

  #lastactivehover :hover{
    background: #1e1450;
    color: #ff13b0;
    font-size: large;
  }

  .btndesign{
    background-color: rgb(75, 75, 163); 
    color: white;
     font-size:25px; 
     padding: 2px; 
     margin-top: 10%;
     transform: skew(20deg);
  }

  .Auditingg{
  
    background-color:#1d195e;
    padding: 3%;
  }

  .Auditing{
    text-align: center; 
    justify-content:center; 
    color: white; 
    font-weight:bold
  }

  .Auditingcoledit{
    background-color: #3e43e2;
    color: white;
    text-align: center; 
    justify-content:center; 
    font-size: 16px;
    padding:1% ;

  }

  #btn-card-top-navigationss:hover{
    background-color: #ad5dbd !important;
    font-size: 20px;
  }

  .clientemail{
    margin : 2%;
    padding: 1%;
    background-color: #3e43e2;
    color: white;
    font-weight: bold;
    text-align: center;
    justify-content: center;
  }


  .vediocollection{
    visibility: hidden;
  }

  @media only screen and (max-width: 1200px) {
    .vediocollection{
      visibility: visible;
    }
  }  

  @media only screen and (man-width: 7500px) {
    .btndisplay{
      visibility: hidden;
    }
  }

  @media only screen and (min-width: 400px) {
    .btndisplay{
      visibility: hidden;
    }
  }    

  @media only screen and (max-width: 750px) {
    .btn-card-top-navigations{
      width: 13%;
      padding: 1px;
      font-size: 10px;
    }
  }

  @media only screen and (max-width: 750px) {
    #btn-card-top-navigationss:hover{
    background-color: #ad5dbd !important;
    font-size: 10px;
    }
  }
 
  @media only screen and (max-width: 750px) {
    #idformarginset{
      margin-left: 1% !important;
    }
  }

  @media only screen and (max-width: 850px) {
    #dayseditt{
      width: 30%;
      padding: 1px;
      margin: 1% !important;
      font-size: 15px;
    }
  }